@font-face {
    font-family: 'Seaside Resort NF';
    font-style: normal;
    src: url(../../fonts/SeasideResortNF.ttf) ;
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    src: url(../../fonts/roboto-slab.regular.ttf) ;
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: bold;
    src: url(../../fonts/roboto-slab.bold.ttf);
}


@font-face {
    font-family: "Bazar";
    font-weight: normal;
    src: url(../../fonts/Bazar.ttf);
}

