$title_font: 'Seaside Resort NF', sans-serif;
$text_font: "Roboto Slab", sans-serif;

$header_color: #78bbbb;
$logo_color: #4f5154;
$about_color: #e2ddcd;
$title_color:#3a3a3a;
$portfolio_color: #e18867;
$back_filter_color: #fbfaf6;
$blog_color: #d8d5d3;
$contact_color: #484c53;
$contact_title: #f6edd8;
$send_color: #383a3c;



